# ======================
# macOS
# ======================
.DS_Store

# ======================
# Node / API
# ======================
node_modules/
.env
.vercel/
npm-debug.log*
yarn-error.log*

# ======================
# Expo / React Native
# ======================
.expo/
.expo-shared/
web-build/
dist/
*.jsbundle

# ======================
# Android / iOS builds
# ======================
android/
ios/

# ======================
# IDE / Editor configs
# ======================
.vscode/
.idea/

# ======================
# Outros
# ======================
build/
.cxx/
